* {
  text-align: center;
  color: whitesmoke;
  font-weight: 300;
  font-family: "Lato";
}

body {
  height: 100vh;
}

.header {
  position: absolute;
  width: 50%;
  display: flexbox;
  color: red;
  z-index: 1;
}

.header h1 {
  font-size: 60px;
  top: 100px;
}

#probe {
  font-size: 22px;
  font-style: italic;
  margin-top: -10px;
  display: none;
}

.right {
  width: 50%;
  display: flexbox;
  background-color: rgba(11, 38, 59, 0.712);
  position: absolute;
  top: 0;
  left: 50%;
  height: 106vh;
}

.form {
  margin-top: 60px;
}

.form input {
  width: 400px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  border: none;
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 400;
}

input:focus {
  outline: none;
}

.form button {
  width: 400px;
  height: 35px;
  background-color: rgb(73, 141, 109);
  border-radius: 5px;
  border: none;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
  outline: none;
  cursor: pointer;
}

.weather h1 {
  font-size: 60px;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 0;
}
